{% extends 'Sellers/master.html' %}
{% load static %}


 


{% block content %}

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 class="text-center text-danger">Sales Report</h3>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td colspan="4" name="from date" class="form-control" required >From Date</td>
                <td><input type="date"></td>
            </tr>
            <tr>
                <td colspan="4" required  class="form-control">To Date</td>
                <td><input type="date"></td>
            </tr>
          </table>

    </div>

     
</div>
{% endblock %}