{% extends 'HomeBake/master.html' %}

{% block header %}
<style>
  .a{
    font-size: 15px;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
 
<div class="row">
    <div class="col-md-12 text-center mt-5">
      <h3 class="text-danger">Change Password</h3>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-4">
      
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ msg }}
        <table class="form-tb">
            <tr>
                <td>
                    <label for="old_password">Old Password</label>
                </td>
                <td>
                    <input type="password" required class="form-control " name="old_password" id="old_password">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="new_password">New Password</label>
                </td>
                <td>
                    <input type="password" required class="form-control " name="new_password" id="new_password">
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="new_password">Confirm Password</label>
                </td>
                <td>
                    <input type="password" required class="form-control " name="confirm_password" id="confirm_password">
                </td>
            </tr>
            
 
            <tr>
                
<td></td>
                <td  align="left">

                    <input type="submit" class="btn btn-primary w-100" value="Change Password">
                </td>
            </tr>


        </table>
</form>
    </div>
  </div>

 
{% endblock %}