{% extends 'HomeBake/master.html' %}
{% load static %}

{% block header %}

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center mt-5">
    <h3 class="text-danger">Signup Now!</h3>
  </div>
  <div class="col-md-12 d-flex justify-content-center mt-3">
    {{ status_msg }}
    <form method="POST" >
      {% csrf_token %}
      <table class="form-tb">
        <tr>
          <td>
            <label for="c_name">Name</label>
          </td>
          <td>
            <input type="text" class="form-control " name = "customer_name" id="c_name" aria-describedby="emailHelp">
          </td>
        </tr>

        <tr>
          <td>
            <label for="zipcde">Zipcode</label>
          </td>
          <td>
            <input type="text" class="form-control " name = "zipcode" id="zipcode" >
          </td>
        </tr>
        <tr>
          <td>
            <label for="location">Location</label>
          </td>
          <td>
            <input type="text" class="form-control " name = "location" id="location" >
          </td>
        </tr>

        <tr>
          <td>
            <label for="email">Email</label>
          </td>
          <td>
            <input type="text" name = "email" class="form-control" id="email">
          </td>
          <td>  <span id="err_email"></span></td>

        </tr>
         
        <tr>
          <td>
            <label for="phone">Phone No</label>
          </td>
          <td>
            <input type="text" name = "phone" class="form-control " id="phone">
          </td>
        </tr>

        <tr>
          <td>
            <label for="address">Address</label>
          </td>
          <td>
          <textarea name="address" class="form-control" id="" cols="30" rows="5"></textarea>
          </td>
        </tr>

        <tr>
          <td>
            <label for="password" name = "password">Password</label>
          </td>
          <td>
            <input type="password" name = "password" class="form-control " id="password">
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Confirm Password</label>
          </td>
          <td>
            <input type="password" class="form-control " id="confirm_password">
          </td>
        </tr>
        <tr>
          <td></td>

          <td>

            <button type="submit" class="btn btn-primary w-50">Signup </button>
          </td>
        </tr>


      </table>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
  $.ajaxSetup({
      headers: {
          "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()  //passing csrf token in ajax request
      }
  })


  $('#email').change(function(){

    $.ajax({
      url: "{% url 'home_bake:check_seller_email' %}",
      method: 'POST',
      data: {
        email: $(this).val()
      },
      success: function(response){
        console.log(response)
        let status = response.status

        if(status == true){
          $('#err_email').css('color','red')
          $('#err_email').html('Email Exists')
          $('#btn-reg').attr('disabled','true')
           
        }
        else{
          $('#err_email').html('')
          $('#btn-reg').removeAttr('disabled')
        }
      }
    })
  })

})

</script>
{% endblock %}