{% extends 'HomeBake/master.html' %}
{% load static %}






{% block header %}
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<style>
    .empty-cart {
        font-size: 30px;
        color: red;
        margin-top: 20px;
        margin-left: 20px;
    }
</style>
{% endblock %}
{% block content %}

{% if request.session.customer %}
<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                    <div class="col">
                        <p class="  space mb-0 shop"> Customer Name : {{ request.session.customer_name }}</p>
                        <p class=" space mb-0 shop">Zipcode : {{ request.session.zipcode }}</p>
                    </div>

                    <div class="col-auto">
                        <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30">
                    </div>
                </div>
                <p></p>
                <div class="row justify-content-around">
                    <div class="col-md-5">

                        <div class="card border-0">
                            <div class="card-header pb-0">
                                <h2 class="card-title space ">Checkout</h2>
                                <p class="card-text   text-danger mt-4" style="color:red">Fill The Following Details</p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-auto mt-0">
                                        <p><b>Note: Delivery date should be minimum 3 days from current date.</b></p>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="NAME" class="small text-muted mb-1">Delivery Date</label>
                                    <input type="date" name="delivery_date" id="delivery_date"
                                        class="form-control form-control-sm">
                                </div>



                                <div class="form-group">
                                    <label for="NAME" class="small text-muted mb-1">Address</label>
                                    <textarea style="text-align: left;" name="shipping_address" class="form-control"
                                        id="shipping_address" cols="30" rows="5"> {{ customer.address }}</textarea>
                                </div>



                            </div>
                        </div>
                        <div class="row mb-5 mt-4 ">
                            <div class="col-md-7 col-lg-6 mx-auto">
                                {% if cart_items %}
                                <button type="button" id="rzp-button1" class="btn  btn-lg btn-block ">Checkout</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER <span
                                        class=" small text-muted ml-2 cursor-pointer">EDIT SHOPPING BAG</span> </p>

                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">

                                {% if cart_items %}

                                {% for item in cart_items %}
                                <div class="row  justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row">
                                            <img class=" img-fluid " src="https://i.imgur.com/9MHvALb.jpg" width="62"
                                                height="62">
                                            <div class="media-body  my-auto">
                                                <div class="row ">
                                                    <div class="col">
                                                        <p class="mb-0"><b>{{ item.product.product_name | upper }}</b>
                                                        </p><small class="text-muted">Seller :
                                                            {{item.product.seller.seller_name | title }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto  my-auto">
                                        <p class="boxed"> {{ item.qty }} pound</p>
                                    </div>
                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p><b> £ {{ item.product_total }}</b></p>
                                    </div>

                                    <div class="pl-0 flex-sm-col col-auto my-auto">
                                        <p><b><a href="{% url 'home_bake:remove_cart' item.id %}"> <i
                                                        class="bi bi-trash text-danger bi-2x"></i> </a></b></p>
                                    </div>

                                </div>
                                <hr class="my-2">
                                {% endfor %}

                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p class="mb-1"><b>Subtotal</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>£ {{ total }}</b></p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <p class="mb-1"><b>Shipping</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>£ 20</b></p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b> £ {{ total|add:20 }}</b></p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b> £ {{ total|add:20 }}</b></p>
                                            </div>
                                        </div>
                                        <hr class="my-0">
                                    </div>
                                </div>
                                <div class="row mb-5 ">
                                </div>
                                {% else %}
                                <p class="empty-cart">Cart Empty</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 400px;">
    <h3 class="text-danger">Login to view your cart</h3>
</div>


{% endif %}

<!-- <script>
    $(document).ready(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'  //passing csrf token in ajax request
            }
        })


        $('#rzp-button1').click(function () {
            console.log($('#shipping_address').val() != '' && $('#delivery_date').val() != '')
            console.log($('#shipping_address').val(), $('#delivery_date').val())

            if ($('#shipping_address').val() != '' && $('#delivery_date').val() != '') {

                $.ajax({
                    url:'{% url "home_bake:order_items" %}',
                    type:'POST',

                    data:{
                        'shipping_address': $('#shipping_address').val(),
                        'delivery_date': $('#delivery_date').val()
                    },

                    success:function(response){

                        let status = response.status
                        let statusCode = response.status_code 
                        // alert(status)

                        if(statusCode == 201){
                            window.location.href = "{% url 'home_bake:payment_page' %}"
                        }
                        }

                })
                window.location.href = "{% url 'home_bake:payment_page' %}"
            }

            else {
                window.alert('Please Fill Checkout Form')
            }


        })

    })

</script> -->
<script>
    const buy_now_button = document.querySelector('#rzp-button1')

    buy_now_button.addEventListener('click', event => {
        if ($('#shipping_address').val() != '' && $('#delivery_date').val() != '') {
            amount = "{{ total|add:20 }}"
        fetch('/create-checkout-session/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                // Add the product amount or price here
                amount: amount*100, // Replace with the actual product amount or use a dynamic value
                shipping_address: $('#shipping_address').val(),
                delivery_date: $('#delivery_date').val()
            })
        })
            .then((result) => { return result.json() })
            .then((data) => {
                var stripe = Stripe(data.stripe_public_key);

                stripe.redirectToCheckout({
                    sessionId: data.session_id
                }).then(function (result) {
                    console.log(result)
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            })
        }else {
                window.alert('Please Fill Checkout Form')
            }
    });

</script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}