{% extends 'HomeBake/master.html' %}
{% load static %}

{% block header %}

<style>
     .product-name{
        color:brown;
        font-weight: bold;
        font-size: 25px;
    }
    .product-price{
        color:green;
        font-weight: bold;
        font-size: 24px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row">
      <div class="col-md-5">
          <div class="main-img">
              <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.product_name }}">
               
          </div>
      </div>
      <div class="col-md-7">
        <form method="POST">
            {% csrf_token %}
        
          <div class="main-description px-2">
              <div class="category text-bold">
                  Category: {{ product.category | title }}
              </div>
              <div class="product-title text-bold my-3 product-name">
                {{ product.product_name | upper }}
              </div>


              <div class="price-area my-4">
                  
                  <p class="text-bold mb-1  product-price">Rs  {{ product.price }}</p>
                  <input type="text" name="p_price" value="{{ product.price }}">
                  <p class="text-secondary mb-1">(expected to deliver after 3 days of order)</p>

              </div>


              <div class="buttons d-flex my-5">
                  
                  

                  <div class="block quantity">
                      <input type="text" name="cart_qty" class="form-control" id="cart_quantity"  style="width: 50px;" value="1" min="0" max = "6" >  
                  </div>
                  <div class="block">
                    (in kg) 
                </div>
                  <div class="block">
                    <button type="submit" class="shadow btn btn-danger">Add to cart</button>
                </div>
                {{ msg }}
              </div>




          </div>

          
          <div class="product-details my-4">
              <p class="details-title text-color mb-2">Ingredients Used</p>
              <p>{{ product.ingredients_used }} </p>
          </div>
           
      </div>
    </form>
  </div>
</div>



 
</div>
{% endblock %}