{% extends 'HomeBake/master.html' %}
{% load static %}
{% block header %}

<style>
    .product-list{
        max-height: 460px;
        min-height: 460px;
    }
    .empty-cart {
        font-size: 30px;
        color: red;
        margin-top: 20px;
        margin-left: 20px;
    }
    .product-list img{
        max-height: 200px;
        min-height: 200px;
    }

    .p-type{
        color:red;
        font-weight: bold;
        font-size: 15px;
    }

    .product-name{
        color:brown;
        font-weight: bolder;
        font-size: 24px;
    }
    .p-price{
        color:green;
        font-weight: bold;
        font-size: 24px;
    }
    .no-data{
        color:red;
        font-weight: bold;
        font-size: 25px;

    }
</style>

{% endblock %}

{% block content %}



<section id="" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <form  method="POST">
            {% csrf_token %}
        <div class="d-flex align-items-baseline justify-content mt-5">
            
            <input type="search" name = "search_pincode" placeholder="search by zipcode or location"   class="form-control mr-2" id="">
            <input type="submit" value="search" style="width:123px" class="btn btn-danger" name="" id="">
        
        </div>

    </form>

         

    {% if products %}
        <div class="row" style="margin-top:50px;">
            {% for product in products %}

            <div class="col-md-4 ">
                
                <div class="card product-list" style="width: 18rem;">
                    <img class="card-img-top"
                        src="{{ product.image.url }}" alt="{{ product.product_name }}">
                    <div class="card-body">
                        <h5 class="card-title product-name">{{ product.product_name | upper }}</h5>
                        <p class="card-title p-type">Type : {{ product.category | title }}</p>
                        <p class="p-price"> Price : £ {{ product.price }}</p>
                        <p>Status : {% if product.status == 'available' %} <span style="color:green">{{ product.status }} {% else %}<span style="color:red">{{ product.status }} {% endif %}</span> </p>
                        <p>Location : {{ product.seller.location }}</p>
                         
                            <a href="{% url 'home_bake:product_details' product.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
              
            </div>
             
            {% endfor %}
           

             
            
            

        </div>


        {% else %}
        <div class="d-flex justify-content-center">
            <p class="no-data">No Items Found....</p>
        </div>
        
        {% endif %}




    </div>
</section>






<script>
    var btns = document.querySelectorAll('.btn');
    var paginationWrapper = document.querySelector('.pagination-wrapper');
    var bigDotContainer = document.querySelector('.big-dot-container');
    var littleDot = document.querySelector('.little-dot');

    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener('click', btnClick);
    }

    function btnClick() {
        if (this.classList.contains('btn--prev')) {
            paginationWrapper.classList.add('transition-prev');
        } else {
            paginationWrapper.classList.add('transition-next');
        }

        var timeout = setTimeout(cleanClasses, 500);
    }

    function cleanClasses() {
        if (paginationWrapper.classList.contains('transition-next')) {
            paginationWrapper.classList.remove('transition-next')
        } else if (paginationWrapper.classList.contains('transition-prev')) {
            paginationWrapper.classList.remove('transition-prev')
        }
    }
</script>

<!-- product cards end-->


<!-- gallary -->


{% endblock %}
