{% extends 'HomeBake/master.html' %}

{% block header %}
<style>
  .a{
    font-size: 15px;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
 
<div class="row">
    <div class="col-md-12 text-center mt-5">
      <h3 class="text-danger">Signup Now!</h3>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-4">
      {{ msg }}
      <form method="POST">
        {% csrf_token %}
        <table class="form-tb">
           
          <tr>
            <td>
              <label for="seller_name">Seller Name</label>
            </td>
            <td>
              <input type="text" required class="form-control " id="sname" name="seller_name" >
              <span id="checkname" style="font-size: small"></span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="email">Email</label>
            </td>
            <td>
              <input type="text" required class="form-control " name="email" id="semail">
            
            </td>
            <td><span id="e_mail" style="font-size: small"></span></td>
          </tr>
          <tr>
            <td>
              <label for="zipcde">Zipcode</label>
            </td>
            <td>

              <input type="text" class="form-control " name = "zipcode" id="zipcode" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="location">Location</label>
            </td>
            <td>
              <input type="text" class="form-control " name = "location" id="location" required >
            </td>
          </tr>
 
          <tr>
            <td>
              <label for="phone">Phone No</label>
            </td>
            <td>
              <input type="text" required class="form-control " name="phone" id="sphone">
              <span id="checkno" style="font-size: small"></span>
            </td>
          </tr>
  
          <tr>
            <td>
              <label for="address">Address</label>
            </td>
            <td>
            <textarea name="address" required class="form-control" id="" cols="30" rows="5"></textarea>
            </td>
          </tr>

          <!-- Certificate details -->
          

          <tr>
            <td>
              <label for="id_business_license_number">Business License Number:</label>
            </td>
            <td>
             <input type="text" id="id_business_license_number" name="business_license_number" required>
             <span id="check_business_license_number" style="font-size: small"></span>
            </td>
          </tr>

          <tr>
           <td>
            <label for="id_license_expire_date">License Expiration Date:</label>
           </td>
           <td>
            <input type="date" id="id_license_expire_date" name="license_expire_date" required>
            <span id="check_license_expire_date" style="font-size: small"></span>
           </td>
          </tr>

          <tr>
            <td>
              <label for="id_food_hygiene_clearance_number">Food Hygiene Clearance Number:</label>
            </td>
            <td>
              <input type="text" id="id_food_hygiene_clearance_number" name="food_hygiene_clearance_number" required>
              <span id="check_food_hygiene_clearance_number" style="font-size: small"></span>
            </td>
          </tr>

          <tr>
            <td>
              <label for="id_safety_clearance_certificate_number">Safety Clearance Certificate Number:</label>
            </td>
            <td>
              <input type="text" id="id_safety_clearance_certificate_number" name="safety_clearance_certificate_number" required>
              <span id="check_safety_clearance_certificate_number" style="font-size: small"></span>
            </td>
          </tr>
  
          <tr>
            <td>
  
              <button type="submit" id="btn-reg" class="btn btn-primary w-50">Signup </button>
            </td>
          </tr>

         
  
  
        </table>
      </form>
    </div>
    </div>

 <!-- val start  -->


<script>

  var sname = document.getElementById('sname');
  var semail = document.getElementById('semail');
  var number = document.getElementById('sphone');
  var businessLicenseNumber = document.getElementById('id_business_license_number');
  var licenseExpireDate = document.getElementById('id_license_expire_date');
  var foodHygieneClearanceNumber = document.getElementById('id_food_hygiene_clearance_number');
  var safetyClearanceCertificateNumber = document.getElementById('id_safety_clearance_certificate_number');


  sname.onkeyup = function () {
      var alphabets = /^[a-z A-Z]{2,}$/;
      if (sname.value.match(alphabets) == null) {
          document.getElementById('checkname').innerHTML = 'name must contain characters only'
          document.getElementById('checkname').style.color = 'red'
          sname.style.border = 'solid red'
      }
      else {
          document.getElementById('checkname').innerHTML = ''
          sname.style.border = 'blue'
          
      }
  }
  semail.onkeyup = function () {

      var email = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/g;
      if (semail.value.match(email)) {

        document.getElementById('e_mail').innerHTML = ''
          document.getElementById('e_mail').style.color = 'green'
          semail.style.border = 'blue'
      }
      else {

          document.getElementById('e_mail').innerHTML = 'please enter a valid email'
          document.getElementById('e_mail').style.color = 'red'
          semail.style.border = 'solid red'
      }

  }
  number.onkeyup = function(){
      var contact = /^[6-9][0-9]{9}$/;
      console.log(number.value.match(contact))
      if(number.value.match(contact) == null){
          document.getElementById('checkno').innerHTML='Invalid number'
          document.getElementById('checkno').style.color = 'red'
          number.style.border = 'solid red'
      }
      else{
          document.getElementById('checkno').innerHTML=''
          document.getElementById('checkno').style.color = 'green'
          number.style.border = 'blue'
      }
  }

  businessLicenseNumber.onkeyup = function() {
        
    var licenseNumberPattern = /^[A-Z0-9]{6,20}$/;
    if (!businessLicenseNumber.value.match(licenseNumberPattern)) {
    document.getElementById('check_business_license_number').innerHTML = 'Invalid business license number'
    document.getElementById('check_business_license_number').style.color = 'red'
    businessLicenseNumber.style.border = 'solid red'
    }
    else {
    document.getElementById('check_business_license_number').innerHTML = ''
    businessLicenseNumber.style.border = 'blue'
    }
    }

    licenseExpireDate.onchange = function() {
        // Add your validation logic for license expiration date
        // Get the current date
    var currentDate = new Date();
    currentDate.setHours(0, 0, 0, 0); // Set hours, minutes, seconds, and milliseconds to 0 for comparison

    // Convert the input date string to a Date object
    var inputDate = new Date(this.value);

    // Check if the input date is a valid date
    if (isNaN(inputDate.getTime())) {
        document.getElementById('check_license_expire_date').innerHTML = 'Invalid date format'
        document.getElementById('check_license_expire_date').style.color = 'red'
        licenseExpireDate.style.border = 'solid red'
    } else if (inputDate < currentDate) {
        document.getElementById('check_license_expire_date').innerHTML = 'License has already expired'
        document.getElementById('check_license_expire_date').style.color = 'red'
        licenseExpireDate.style.border = 'solid red'
    } else {
        document.getElementById('check_license_expire_date').innerHTML = ''
        licenseExpireDate.style.border = 'blue'
    }
    }

    foodHygieneClearanceNumber.onkeyup = function() {
        // Add your validation logic for food hygiene clearance number
        // Regular expression to validate the food hygiene clearance number
    var hygieneNumberPattern = /^[A-Z0-9]{5,15}$/;

   if (!foodHygieneClearanceNumber.value.match(hygieneNumberPattern)) {
    document.getElementById('check_food_hygiene_clearance_number').innerHTML = 'Invalid food hygiene clearance number';
    document.getElementById('check_food_hygiene_clearance_number').style.color = 'red';
    foodHygieneClearanceNumber.style.border = 'solid red';
   } else {
    document.getElementById('check_food_hygiene_clearance_number').innerHTML = '';
    foodHygieneClearanceNumber.style.border = 'blue';
   }
    }

    safetyClearanceCertificateNumber.onkeyup = function() {
        // Add your validation logic for safety clearance certificate number
        var safetyclearanceNumberPattern = /^[A-Z0-9]{5,15}$/;

   if (!safetyClearanceCertificateNumber.value.match(safetyclearanceNumberPattern)) {
    document.getElementById('check_safety_clearance_certificate_number').innerHTML = 'Invalid food safety clearance certificate number';
    document.getElementById('check_safety_clearance_certificate_number').style.color = 'red';
    safetyClearanceCertificateNumber.style.border = 'solid red';
   } else {
    document.getElementById('check_safety_clearance_certificate_number').innerHTML = '';
    safetyClearanceCertificateNumber.style.border = 'blue';
   }
    };



</script>

<!-- val end  -->

    

  <script>
    $(document).ready(function () {
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()  //passing csrf token in ajax request
        }
    })


    $('#email').change(function(){

      $.ajax({
        url: "{% url 'home_bake:check_seller_email' %}",
        method: 'POST',
        data: {
          email: $(this).val()
        },
        success: function(response){
          console.log(response)
          let status = response.status

          if(status == true){
            $('#err_email').css('color','red')
            $('#err_email').html('Email Exists')
            $('#btn-reg').attr('disabled','true')
             
          }
          else{
            $('#err_email').html('')
            $('#btn-reg').removeAttr('disabled')
          }
        }
      })
    })

  })

  </script>
{% endblock %}