{% extends 'HomeBakeAdmin/master.html' %}
{% load static %}


{% block header %}
<style>
    a{
        color: black;
    }
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
       <div class="row">
          <div class="col-xxl-12 col-md-6">
            <div class="cardBox">
                <div class="card">
                    <div>
                        <a href="{% url 'HomeBakeAdmin:sellers_list' 'pending' %}">
                        <div class="cardName">PendingSeller Request</div>
                        <div class="numbers">
                            {{ pending_seller_count }} {% if pending_seller_count == 0 %} <span>No</span> {% else %} No{{ pending_seller_count | pluralize }} {% endif %}
                        </div>
                    </a>
                       
                    </div>

                    
                </div>

                <div class="card">
                    <div>
                        <a href="{% url 'HomeBakeAdmin:customers_list'   %}">
                        <div class="cardName">Registered Customers</div>
                        <div class="numbers">
                            {{ customer_count }} {% if customer_count == 0 %} <span>No</span> {% else %} No{{ customer_count | pluralize }} {% endif %}
                        </div>
                    </a>
                       
                    </div>

                    
                </div>

                <div class="card">
                    <div>
                        <a href="{% url 'HomeBakeAdmin:sellers_list' 'active' %}">
                        <div class="cardName">Registerd Sellers</div>
                        <div class="numbers">
                            {{ active_seller_count }} {% if active_seller_count == 0 %} <span>No</span> {% else %} No{{ active_seller_count | pluralize }} {% endif %}
                        </div>
                    </a>
                       
                    </div>

                    
                </div>

                <div class="card">
                    <div>
                        <a href="{% url 'HomeBakeAdmin:users_msg' %}">
                        <div class="cardName">Existing enquiries</div>
                        <div class="numbers">
                            {{ enquiry_today }} {% if enquiry_today == 0 %} <span>No</span> {% else %} No{{ enquiry_today | pluralize }} {% endif %}
                        </div>
                    </a>
                       
                    </div>

                    
                </div>

                 

                 
            </div>
          </div>
           
          </div>
           
           
          
       </div>
    </div>
    
 </div>

{% endblock %}