{% extends 'HomeBakeAdmin/master.html' %}
{% load static %}


 {% block header%}

 <link rel="stylesheet" href="{% static 'HomeBakeAdmin/css/custom.css' %}">
 {% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-12 mt-3">
      {% if status == 'active' %}
        <h3 class="text-center text-success">Registered Sellers</h3>

        {% else %}
        <h3 class="text-center text-success">New Sellers</h3>

        {% endif %}
    </div>
    {% if sellers %}
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
          <nav aria-label="Page navigation example" class="nav-p">
            <ul class="pagination">
                <li class="page-item">
                    {% if sellers.has_previous %}
                    <a class="page-link" href="?page={{sellers.previous_page_number}}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    {% endif %}
                </li>
                {% for p in sellers.paginator.page_range %}
                <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                {% endfor %}
                <!-- <li class="page-item "> Page {{p}} of {{panchayath_list.paginator.page}}</li> -->
                <li class="page-item">
                    {% if sellers.has_next %}
                    <a class="page-link" href="?page={{sellers.next_page_number}}"  aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
           </div>
    </div>

    {% endif %}
    <div class="col-md-12" style="min-height: 500px;">
        {% if sellers %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Seller Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No</th>
                <th scope="col">Address</th>
                <th scope="col">Bussines Liscence No.</th>
                <th scope="col">Liscence Exp. date</th>
                <th scope="col">Food Hygiene clearance No.</th>
                <th scope="col">Safety Clearance Certificate No.</th>
                

                
              </tr>
            </thead>
            <tbody>
              {% for seller in sellers %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ seller.seller_name | title}}</td>
                <td>{{ seller.email }}</td>
                <td>{{ seller.phone }}</td>
                <td>{{ seller.address }} </td>
                <td>{{ seller.business_license_number }} </td>
                <td>{{ seller.license_expire_date }} </td>
                <td>{{ seller.food_hygiene_clearance_number }} </td>
                <td>{{ seller.safety_clearance_certificate_number }} </td>
                {% if status == 'pending' %}
                <td>
                  <a class="btn btn-success" href="{% url 'HomeBakeAdmin:approve_Sellers' seller.id %}">Approve</a>
                   <a class="btn btn-danger" href="">Reject</a> 
                  </td>
                  {% endif %}
                
              </tr>
              {% endfor %}
               
            </tbody>
           
          </table>

        {% else %}

        <span class="no-data"> No Data Found </span>

        {% endif %}

    </div>
   
</div>
{% endblock %}